<html>
<head>
    <%= stylesheet_link_tag 'libros' %>
</head>

<body>
<div class="page-container">
<div class ="content-wrap">
<%= render 'componentes/header' %>

    <div class="bloque">

        <h1>Editar libro</h1>
        <%= form_with model: @libro do |form| %>
        <div>
            <%= form.label :titulo %><br>
            <%= form.text_field :titulo %>
            <% @libro.errors.full_messages_for(:titulo).each do |message| %>
            <div><%= message %></div>
            <% end %>
        </div>
        <div>
        <%= form.label :fecha, "Año de publicación"%><br>
        <select name="libro[fecha]">
            <% current_year = Time.current.year %>
            <% (current_year.downto(current_year - 2000)).each do |year| %>
            <% if year == @libro.fecha %>
                <option value="<%= year %>" selected><%= year %></option>
            <% else %>
                <option value="<%= year %>"><%= year %></option>
            <% end %>
            <% end %>
        </select>
        <% @libro.errors.full_messages_for(:fecha).each do |message| %>
            <div><%= message %></div>
        <% end %>
        </div>
                <div>
            <%= form.label :categoria, "Categoría" %><br>
            <%= form.select :categoria, options_for_select([ ["Accion y Aventura"],
                ["Clasicos Universales"],
                ["Romance"],
                ["Academico"],
                ["Suspenso"]
                ]), include_blank: false %>
            <% @libro.errors.full_messages_for(:categoria).each do |message| %>
            <div><%= message %></div>
            <% end %>
        </div>
        <div>
            <%= form.label :autor %><br>
            <%= form.text_field :autor %>
            <% @libro.errors.full_messages_for(:autor).each do |message| %>
            <div><%= message %></div>
            <% end %>
        </div>
        <div>
            <%= form.label :precio %><br>
            <%= form.text_field :precio, pattern: "[0-9]*", title: "Este campo solo permite caracteres numéricos"%>
            <% @libro.errors.full_messages_for(:precio).each do |message| %>
            <div><%= message %></div>
            <% end %>
        </div>
        <div>
            <%= form.label :stock %><br>
            <%= form.text_field :stock, pattern: "[0-9]*", title: "Este campo solo permite caracteres numéricos"%>
            <% @libro.errors.full_messages_for(:stock).each do |message| %>
            <div><%= message %></div>
            <% end %>
        </div>
        <div>
            <%= form.label :descripcion %><br>
            <%= form.text_area :descripcion %>
            <% @libro.errors.full_messages_for(:descripcion).each do |message| %>
            <div><%= message %></div>
            <% end %>
        </div>
        <div>
            <%= form.submit %>
        </div>
        <% end %>

    </div>

</div>
<%= render 'componentes/footer' %>
</div>
</body>

</html>