<%= stylesheet_link_tag 'componentes' %>

<header>
    <div class="item1">
        <%= link_to "Inicio", root_path, class: "paths" %>
        <%= link_to "Conócenos", inicio_path, class: "paths" %>
        <%= link_to "Libros", :libros, class: "paths"  %>
        <% if user_signed_in? %>
            <% if current_user.tipo_de_usuario == "A" %>
        <%= link_to "Compras", user_compras_path(current_user.id), class: "paths" %>
            <% end %>
        <% end %>
        
    </div>
    <div class="item2">
        <div class="contenedor-ingreso">

            <% if user_signed_in? %>
            <%= image_tag current_user.picture.thumb.url, class: 'figure-img img-fluid rounded', style: 'width: 10%; height: 10%;' %>
            <%= link_to current_user.nombre, profile_path, class: "paths" %>
            <br />
            <%= button_to "Cerrar sesión", destroy_user_session_path, method: :delete, class: 'boton-sign-out' %>
            <% else %>
            <%= link_to "Iniciar sesión", new_user_session_path, class: "paths"%>
            <%= link_to "Registrarse", new_user_registration_path, class: "paths"%>
            <% end %>
            <% if flash[:notice] %>
            <p class="notice"><%= flash[:notice] %></p>
            <% end %>

            <% if flash[:alert] %>
            <p class="alert"><%= flash[:alert] %></p>
            <% end %>

            <%= yield %>
        
        </div>
    </div>
</header>